body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10px;
    padding: 10px;
    margin: 0;
    width: 220px;
}

.body-content {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    flex-shrink: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ff0000;
    padding: 4px 2px;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    height: 50%;
    flex-grow: 1;
    overflow-y: auto;
}

.tool-button {
    width: 100%;
    text-align: left;
    font-family: inherit;
    border: 1px solid hsl(0, 100%, 18%);
    background-color: #f8f8f8;
    cursor: pointer;
    margin-bottom: var(--button-spacing);
    padding: 3px 5px 0px;
    border-radius: 2px;
    transition: background 0.2s;
    box-sizing: border-box;
    flex-shrink: 0;
}

.tool-button:last-child {
    margin-bottom: 0;
}

.tool-button:hover {
    background-color: #e0e0e0;
}